{% load static %}
<footer id="contacto">
    <div class="container">
        <div class="footer-content">
            <div class="footer-about">
                <div class="footer-logo">
                    <img src="{% static 'images/logoBlanco.png' %}" alt="Logo de Navi">
                    <span>Juega aprendiendo</span>
                </div>
                <p>Plataforma educativa inclusiva diseñada especialmente para niños ciegos de entre 3 y 7 años, fomentando su desarrollo cognitivo a través de experiencias adaptadas.</p>
                <div class="social-icons">
                    <a href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook-f"></i></a>
                    <a href="https://www.instagram.com/" target="_blank"><i class="fab fa-instagram"></i></a>
                    <a href="https://www.linkedin.com/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                    <a href="https://www.youtube.com/@navimx-oficial" target="_blank"><i class="fab fa-youtube"></i></a>
                </div>
            </div>
            
            <div class="footer-links">
                <h3>Enlaces rápidos</h3>
                <ul>
                    <li><a href="{% url 'landing:index' %}#conoce-a-navi">¿Qué es Navi?</a></li>
                    <li><a href="{% url 'landing:index' %}#caracteristicas">Características</a></li>
                    <li><a href="{% url 'landing:index' %}#investigacion">Investigación</a></li>
                    <li><a href="{% url 'landing:index' %}#objetivos">Objetivos</a></li>
                    <li><a href="{% url 'landing:index' %}#galeria">Galería</a></li>
                </ul>
            </div>
            
            <div class="footer-contact">
                <h3>Contacto</h3>
                <p><i class="fas fa-map-marker-alt"></i> Yucatán, México</p>
                <p><i class="fas fa-phone"></i> +52 999 123 4567</p>
                <p><i class="fas fa-envelope"></i> naviacademic@gmail.com</p>
            </div>
        </div>
        
        <div class="copyright">
            <p>&copy; {{ ano_actual|default:"2026" }} Navi. Todos los derechos reservados. | Plataforma educativa inclusiva</p>
        </div>
    </div>
</footer>